.App {
  text-align: center;

  .App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: var(--heading-color);

    a {
      color: var(--heading-color);
    }
  }

  .Forms {
    display: flex;
    position: relative;
  }
}
@media screen and (min-width: 0px) and (max-width: 600px) {
  .Forms {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
}
