.header {
  display: flex;
  justify-content: flex-end;

  float: right;
  padding: 20px 20px;
  cursor: pointer;
  font-family: Raleway sans-serif serif;
  font-size: 14px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
}

.signin {
  border: 1px solid #33272a;
  box-sizing: border-box;
  padding: 10px;
  box-shadow: #33272a 1px 1px 1px;
}
.signin:hover {
  background-color: #33272a;
  color: white;
}
.register {
  padding: 20px;
}
@media screen and (min-width: 0px) and (max-width: 500px) {
  .Header {
    display: block;
  }
  .navbar {
    display: block;
    text-align: left;
  }
}
