.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #c4c4c4;
  text-align: center;
  font-family: Raleway, sans-serif;
  color: var(--headline-color);
}
@media screen and (min-width: 0px) and (max-width: 400px) {
  .footer {
    display: block;
  }
}
