.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .booksContainer {
    height: auto;
    width: 50%;
  }

  .text {
    font-style: normal;
    font-weight: bold;
    font-size: 4.5vw;
    line-height: 1em;
    display: block;
    text-align: left;
    align-items: center;
    letter-spacing: 0.03em;
    color: var(--headline-color);
    margin-left: 2em;

    .tagline {
      display: flex;
      flex-wrap: wrap;
      font-family: 'Quicksand', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 0.7em;
    }
  }
}
