.books {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .hero {
    height: auto;
    width: 300px;
    left: 842px;
    top: 157px;
    border-radius: 0px;
    margin-right: 100px;
  }
}

.text {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  display: flex;
  text-align: left;
  align-items: center;
  letter-spacing: 0.03em;
  color: #33272a;

  span {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
  }
}
